<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800 sticky bottom-0 z-10 ">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">&copy; <%= Time.now.year %> <%= link_to 'Atilla Taha Kördüğüm', root_path,class:"flex items-center space-x-3 rtl:space-x-reverse" %>
    </span>
    </div>
</footer>
